<footer class="site-footer clearfix">
    <section>
      <section class="copyright">
        <a href="{{@blog.url}}">{{@blog.title}}</a> is powered by Ghost
      </section>
    </section>
</footer>
