{{! This is the small header, that is used everywhere except index }}

<footer class="small-footer">
    <section class="small-overlay clearfix">
    <h1><a href="/#content">&lt; suspicious.website</a></h1>
    </section>
</footer>
