{{! This is the small header, that is used everywhere except index }}

<header class="small-header">
    <section class="small-overlay clearfix">
		<header>
			<a href="/#content"><h1>&lt; suspicious.website</h1></a>
		</header>
    </section>
</header>
