{{! This is the small header, that is used everywhere except index }}

<footer class="small-footer">
    <section class="small-overlay clearfix">
    <a href="/#content"><h1>&lt; suspicious.website</h1></a>
    </section>
</footer>
