{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header">
    <section class="main-overlay clearfix">
		<header>
			<a class="scroll-down" href="#content"><h1>Suspicious.website</h1></a>
			<div>
				<h2>Talks about Dev and Ops <span class="credits">by <a href="/author/markus" alt="Markus Klinga">Markus Klinga</a></span></h2>
			</div>
		</header>
		<!-- <a href="#content" class="scroll&#45;down scroll&#45;icon"><img src="{{ asset 'images/down&#45;arrow.png' }}"></a> -->
    </section>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
	<section>
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
	</section>
</main>

{{> "indexfooter"}}
