{{!< default}}

{{! This is template for /markus }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<main class="content" role="main">

    <article class="profile-page">
    {{! Everything inside the #post tags pulls data from the post }}

    <header class="post-header">
      <img src="{{ asset 'images/face_shadow.png' }}">
      <div class="infobox">
        <h1 class="post-title">{{title}}</h1>
        <p>Developer &amp; Administrator</p>
      </div>
      <div class="clear"></div>
    </header>
    <section class="post-content">
      {{content}}
    </section>

  </article>

  </main>
  {{/post}}
