/* 

Suspicious.website : The main theme

 */

/* Some initial colors */
/* TODO: do a proper design */

$background-color: #fffffd;
$text-color: 262827;

$link-color: #569c8f;
$visited-color: #468c7f;

$tag-background: $link-color;
$tag-color:	white;

/* Main navigation height */
$main-nav-height: 80px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: $background-color;
	color: $text-color;

	&.home-template {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url("../images/homebanner.jpg");
		// background-image: url(../images/homebanner.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}

a {
	border-color: $background-color;
	color: $link-color;
	text-decoration: none;
	transition: all 1s ease;

	&:visited {
		color: $visited-color;
	}

	&:hover {
		border-bottom: solid 1px $link-color;
	}
}

.tags {
	a {
		padding: 4px 10px;
		border-radius: 5px;
		background: $tag-background;
		font-weight: bold;
		color: $tag-color;
	}
}

header {
	&.main-header {
		height: 100vh;
		position: relative;

		header {
				position: absolute;
				color: white;
				margin: 0;
				text-align: center;
				padding-left: 5px;
				text-shadow: 0px 3px 1px rgba(0,0,0, 0.15);
				width: 100%;

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			h1 {
				text-transform: uppercase;
				font-size: 3rem;
				margin: 0;
			}

			h2 {
				font-size: 1rem;
			}
		}
	}
}

nav {
	ul {
		height: $main-nav-height;
		margin: -80px 0 0 0;

		li {
			display: inline-block;
			line-height: $main-nav-height;
			padding-right: 50px;
		}
	}
	&.main-nav {
		background: $background-color;
		margin-top: -80px;
		padding: 0;
	}
}

main {

	&#content {
		background: $background-color;
		margin: 0;
		padding: 25px;

		min-height: 100vh;
	}
}
