/* 

Suspicious.website : The main theme

 */

/* Some initial colors */
/* TODO: do a proper design */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$background-color: #fffffd;
$text-color: #262827;

$link-color: #b14;
$visited-color: #b14;

$tag-background: $link-color;
$tag-color:	#a30;

/* Widths */
$small-screen-width: 768px;
$medium-screen-width: 1200px;
$large-screen-width: 1920px;

@mixin verysmall {
  @media (max-width: #{$small-screen-width}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small-screen-width} ) and (max-width: #{$medium-screen-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-screen-width} ) and (max-width: #{$large-screen-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-screen-width}) {
    @content;
  }
}

/* Icons */

@font-face {
    font-family: "suspicious-icons";
    src:url("../fonts/suspicious-icons.eot");
    src:url("../fonts/suspicious-icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/suspicious-icons.woff") format("woff"),
        url("../fonts/suspicious-icons.ttf") format("truetype"),
        url("../fonts/suspicious-icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "suspicious-icons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
   content of the :before pseudo element. Like a boss. */
.icon-github:before {
    content: "\e600";
}
.icon-rss:before {
    content: "\f601";
}
.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
}
.icon-googleplus:before {
    content: "\f603";
}
.icon-facebook:before {
    content: "\f604";
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: $background-color;
  color: $text-color;
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-size: 1.3rem;

  &.home-template {

    width: 100%;
    height: 100%;
    /* Select the background image based on the resolution */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/palmtree_1200.jpg");
    @include large { background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/palmtree_2440.jpg"); }
    @include medium { background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/palmtree_1920.jpg"); }
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .post-description {
      a {
        color: black;
        font-size: smaller;
      }
      a:hover {
        border: none;
      }
    }
  }
}

a {
  border-color: $background-color;
  color: $link-color;
  text-decoration: none;

  
  &:hover {
    border-bottom: solid 1px $link-color;
  }
}

a:visited {
  color: $visited-color;
}

header {
  &.main-header {
    height: 100vh;
    position: relative;

    header {
      position: absolute;
      color: white;
      margin: 0;
      padding-left: 5px;
      text-shadow: 0px 2px 1px rgba(0,0,0, 0.15);

      bottom: 50px;
      left: 50px;
      h1 {
        color: white;
        font-size: 4em;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
        margin-left: 50px;
        font-size: 1em;

      }

      @include verysmall {
        left: 0;
        width: 100%;
        text-align: center;
        overflow: hidden;

        h1 {
          font-size: 1.5em;
        }

        h2 {
          display: none;
        }
      }

      @include small {
        left: 0;
        width: 100%;
        text-align: center;
        overflow: hidden;

        h1 {
          font-size: 3em;
        }

        h2 {
          margin: 0;
          font-size: 1em;
        }
      }

      a {
        color: white;
      }

      #header-icons-front {
        float: left;
        padding-right: 30px;
      }
    }

    .scroll-icon {

      color: white;
      text-transform: uppercase;
      font-weight: bold;
      padding: 25px;
      border: 1px solid white;
      // border-radius: 5px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.small-header {

    max-width: 1000px;

    margin: auto;

    h1 {

      color: #aaa;
      font-size: 1em;
      text-align: left;
      font-weight: normal;
      margin: 0;
      padding: 25px 0 0 25px;

      @include large {
        position: fixed;
        left: 25px;
        top: 25px;
        padding: 0;
      }

      img {
        position: relative;
        top: 5px;
      }
    }

    h2 {
      font-size: 1em;
    }

    #header-icons-front {
      float: left;
      padding-right: 30px;
    }
  }
}

main {

  &#content {
    background: $background-color;
    margin: 0;
    padding: 0;
    padding-top: 50px;

    min-height: 100vh;
  }

  section {
    max-width: 750px;
    margin: 0 auto;
  }

  article.post {

    padding: 25px;

    .post-header {
      text-align: center;
      margin: 0;

      padding: 60px 10px 40px 10px;

      .post-title {
        margin: 5px 0;

        a { 
          color: #000;
          font-size: xx-large;
        }
      }

      .post-date {
        font-size: small;
        color: #aaa;
      }
    }

    .post-description {
      padding: 10px;
      max-width: 600px;
      line-height: 24px;
      text-align: justify;
    }
  }
}

footer {
  background: $background-color;

  font-size: small;

  & > section {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    color: #666;
  }
}

.post-template {
  article.post {

    .post-header {
      padding: 100px 10px 50px 0;
    }

    .post-bottom {
      font-size: smaller;
      padding: 25px 25px;

      .tags {
        a {
          color: $tag-color;
          padding: 2px;
        }
      }

      .author-and-date {
        float: left;

        @include verysmall { float: none; }
      }
      .author-bottom {
        font-weight: bold;
        a {
          color: #333;
        }
      }

      .share-icons-bottom {

        float: right;
        @include verysmall { float: none; }

        margin-bottom: 5px;

        a {
          font-size: x-large;
          padding: 5px;

          &:hover {
            color: black;
            border: none;
          }

        }

      }
    }
  }
}

/* Author page */
main.author {
  section.author-profile {
    margin-top: 100px;

    .post-header {
      float: left;
      margin-right: 30px;
    }

    h1 {
      font-size: larger;
      margin: 10px 0 0 0;
    }

    h2 {
      font-size: smaller;
      margin: 0;
      padding-bottom: 0;
    }

    .author-meta {
      font-size: 1em;

      span {
        display: inline-block;
        margin: 2px 0;
      }
    }
  }
}

/* The actual blog content */
article.post .post-content {

  padding: 25px;
  font-size: 0.9em;

  h2 {
    margin-top: 50px;
  }

  h3, h4 {
    margin-top: 40px;
  }

  p {
    line-height: 1.5em;
    margin: 25px 0;
  }

  ul,ol {
    margin: 35px 0 25px 25px;

    li {
      padding: 5px;

      /* Nested list-items */
      ul, ol {

        margin: 5px;
      }
    }
  }

  code {
    font-size: smaller;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 2px;
    white-space: nowrap;
  }

  pre {
    border: none;
  }

  pre code {
    padding: 10px 20px;

    background: white;
    border: none;
    border-radius: 0;
    border: solid 1px #555;
    white-space: pre;
  }

  code:hover {
    border-color: #000; // Codebox intensifies
  }

  blockquote {
    border-left: 3px solid #a30;
    padding-left: 20px;
    font-style: italic;
    font-size: smaller;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.6em 0;
  }
}

.ad-rss {
  padding: 25px;
  font-size: smaller;
}

